@font-face {
  font-family: "bold";
  src: url(./Fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: "main-header";
  src: url(./Fonts/Raleway-Light.ttf);
}

@font-face {
  font-family: "headers";
  src: url(./Fonts/PlayfairDisplay-Black.ttf);
}

@font-face {
  font-family: "regular";
  src: url(./Fonts/Raleway-Regular.ttf);
}

header,
footer,
.jumbotron {
  text-align: center;
}

a {
  font-family: regular;
}

h1 {
  font-family: main-header;
  font-size: 72;
  color: white;
}

h2 {
  font-family: bold;
  font-size: 17;
}

h3,
h5 {
  font-family: headers;
}

.white-font {
  font-family: headers;
  color: white;
}

p:not(.exception-paragraph) {
  font-family: regular;
}

.p-main-description {
  color: white;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.5);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
  color: lightgrey;
}

.awesome-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: regular;
}

.jumbotron {
  background-image: url("./Img/1-hotel-room.png");
  height: 464px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}

.slideshow-main-heading {
  text-transform: uppercase;
  font-size: 80px;
  font-family: regular;
  position: relative;
  left: 10px;
  bottom: 160px;
}

/* .carousel-control-prev-icon-user-changes {
  position: relative;
  left: 750px;
  bottom: -125px;
  z-index: 10;
}

.carousel-control-next-icon-user-changes {
  position: relative;
  left: -750px;
  bottom: -125px;
  z-index: 10;
} */

.awesome_news-right-main-header {
  padding-top: 20px;
}

.awesome_news-left {
  background-image: url("./Img/2-white-birds.png");
  height: 334px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.central-blocks {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.appear {
  position: absolute;
  display: none;
}

.appear-header-default {
  color: #000;
}

.central-blocks-image {
  width: 100%;
}

.central-blocks-image-wrapper {
  position: relative;
}

.central-blocks-image-wrapper:hover .appear {
  display: block;
}

.central-blocks-image-wrapper:hover .appear-header-default {
  color: #ff9a64;
}

.bookmark {
  right: 10px;
  color: #ff9a64;
  position: absolute;
}

.eye {
  left: 15px;
  bottom: 25px;
  color: #ff9a64;
}

.eye-amount {
  left: 35px;
  bottom: 10px;
  color: #ff9a64;
}

.cloud {
  left: 75px;
  bottom: 25px;
  color: #ff9a64;
}

.cloud-amount {
  left: 93px;
  bottom: 10px;
  color: #ff9a64;
}

.aside-item {
  height: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.aside-item > h3 {
  text-align: center;
}

.aside-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside-1 {
  background-image: url("./Img/6-baloons(my).jpg");
}

.aside-2 {
  background-image: url("./Img/7-dark-water(my).jpg");
}

.aside-3 {
  background-image: url("./Img/8-black-bird.png");
}

.awesome_button {
  border: 2px solid #ff9a64;
  font-family: bold;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  padding: 11px 30px;
  text-transform: uppercase;
  transition: background-color 0.5s;
}

.awesome_button:hover {
  background-color: #ff9a64;
}

.ml10 {
  margin-left: 10px;
}

div h3:only-child {
  font-size: 30px;
  text-transform: uppercase;
}

.bottom {
  background-image: url("./Img/13-ballet.png");
  height: 176px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.awesome_news-right-header {
  font-size: 14px;
  font-weight: 600;
  margin-top: 0;
}

.awesome_news-right-text {
  font-size: 10px;
  margin: 0;
}

.awesome_news-right-item {
  margin-bottom: 19px;
}

.awesome_news-right-item:last-child {
  margin-bottom: 0;
}

.awesome_news-full-width {
  height: 100%;
  width: 100%;
}

.down-slideshow {
  height: 107.5px;
  width: 100%;
  margin-top: 30px;
}

.down-button {
  height: 50px;
  width: 50px;
  transition: background-color 0.5s;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  position: absolute;
}

.down-button-right {
  bottom: 30px;
  right: -12px;
}

.down-button-left {
  bottom: 30px;
  left: -12px;
}

.down-side-button {
  border: 2px solid #ff9a64;
  font-family: bold;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  transition: background-color 0.5s;
  position: absolute;
  bottom: 20px;
  left: 100px;
}

.down-side-button:hover {
  background-color: #ff9a64;
}

/* .page-link-style {
  color: white;
  border-color: rgba(255, 255, 255, 0);
  border: none;
} */

.page-link {
  color: #000;
}

@media (min-width: 320px) {
  .bottom {
    background-position: center;
  }

  .aside-1 {
    margin-top: 10px;
  }

  .down-side-button {
    display: none;
  }
}

@media (min-width: 768px) {
  .awesome_news-left {
    height: 100%;
  }

  .down-side-button {
    display: none;
  }
}
